/* src/components/Header.module.css */
.header {
  background-color: var(--color-background-card);
  padding: var(--spacing-md) var(--spacing-lg);
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);
  display: flex;
  justify-content: center; /* Centrer le contenu */
  align-items: center;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm); /* Espace entre logo et titre */
}

.logo {
  height: 40px; /* Taille du logo */
  width: auto;
}

.title {
  font-size: 1.8rem;
  color: var(--color-primary-dark);
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
  .logo {
    height: 30px;
  }
}
